<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}的每日任务与奖励</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{message}}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {{ user.name }}的每日任务与奖励
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">首页</a></li>
            <li><a href="{{ url_for('index') }}">添加任务</a></li>
            <li><a href="{{ url_for('index') }}">导入模板</a></li>
            {% if user.name %}
            <li class="float-right"><a href="{{ url_for('index') }}">退出</a></li>
            {% endif %}
            {% if not user.name %}
            <li class="float-right"><a href="{{ url_for('index') }}">登录</a></li>
            {% endif %}

        </ul>
    </nav>
    {% block content %}
    {% endblock %}
     <footer>
        <small>&copy; 2021 <a href="https://github.com/jeannieyeliu/dailytask">Jeannie Liu</a> </small>
	</footer>
</body>
</html>
