<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}的每日任务与奖励</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <h2>
        <img alt="Avatar"  class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {{ name }}的每日任务与奖励
    </h2>
    {# 使用 length 过滤器获取 movies 变量的长度 #}
    <p>{{ tasks|length }} 个任务 (2020年12月28日 周一)</p>
    <ul class="task-list">
        {% for task in tasks %}  {# 迭代 tasks 变量 #}
        <li> <input type="checkbox" name="state" value="{{task.id}}" {{task.state}}/>
            {% if task.state == "checked" %}
            <del>
            {% endif %}
            {{ task.title }} - {{ task.estimate }}
            {% if task.state == "checked" %}
            </del>
            {% endif %}
        </li>  {# 等同于 task['title'] #}
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    <img alt="Walking Totoro" class="totoro"  src="{{ url_for('static', filename='images/calendar.png') }}">
    <footer>
        <small>&copy; 2021 <a href="https://github.com/jeannieyeliu/dailytask">Jeannie Liu</a> </small>
	</footer>
</body>
</html>
