{% extends 'base.html' %}

{% block content %}
    {# 使用 length 过滤器获取 tasks 变量的长度 #}
    <p>{{ tasks|length }} 个任务 (2020年12月28日 周一)</p>
    <ul class="task-list">
        {% for task in tasks %}  {# 迭代 tasks 变量 #}
        <li> <input type="checkbox" name="state" value="{{task.id}}" {{task.state}}/>
            {% if task.state == "checked" %}
            <del>
                <span class="done-task">
            {% endif %}

            {{ task.title }} - ({{ task.estimate }} 分钟)
            {% if task.state == "checked" %}
                </span>
            </del>
            {% endif %}

            <span class="float-right">
                {{ task.tag}}
            </span>

        </li>  {# 等同于 task['title'] #}
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    <img alt="Walking Totoro" class="totoro"  src="{{ url_for('static', filename='images/calendar.png') }}">

</body>
{% endblock %}
